<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.board.model.dao.GroupsDao">

	

	<!-- 유저의 찜운동 list 가져오기 -->
	<select id="selectAllGroups" resultType="Groups">
		select *
		from
		Groups;
	</select>




</mapper>